@model Insurance.Models.Premium
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<script src="~/js/jquery-3.2.1.min.js"></script>
<html>
<head></head>
<body>
    <h2>Monthly Insurance Premium</h2>
    <div class="row">
        @using (Html.BeginForm("Index", "Premium", FormMethod.Post))
        {
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="@Model.Name" />
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" class="form-control" id="age" name="age" value="@Model.Age" />
            </div>
            <div class="form-group">
                <label for="dateofbirth">Date of Birth</label>
                <input type="date" class="form-control" id="dateofbirth" name="dateofbirth" value="@Model.DateOfBirth" />
            </div>
            <div class="form-group">
                <label for="InsuranceAmount">Insurance Amount</label>
                <input type="text" class="form-control" id="suminsured" name="suminsured" value="@Model.DeathSumInsured" />
            </div>
            <div class="form-group">
                <label for="occupation">Occupation</label>
                @Html.DropDownList("occupation", ViewData["list"] as List<SelectListItem>)
  
            </div>
            <span id="monthlypremium"></span>
            <script type="text/javascript">

                $(document).ready(function ()
                {
                    $("#occupation").change(function ()
                    {
                      
                        $.ajax({
                            type: "POST",
                            dataType: "text",
                            url: "@(Url.Action("GetInsurancePremium", "PremiumValues"))",
                            data: {                    
                                
                                "suminsured": $("#suminsured").val(),
                                "age": $("#age").val(),
                                "occupation": $("#occupation :selected").val()
                            },

                            success: function (response) {

                            document.getElementById("monthlypremium").textContent = "Monthly Premium: " + response;
                        },

                        error: function (xhr)
                        {

                            alert("Something went wrong, please try again");
                        }

                        });
                    });　
                });

            </script>            
        }

    </div>
  </body>
</html>
